.customcolor {
    color: rgba(0, 246, 16, 1);
}

.boltcolor {
    color: rgb(237, 221, 47);
}

.covidcolor {
    color: rgb(87, 178, 244);
}

.unccolor {
    
    color: rgb(234, 60, 98);
}

.gencolor {
    
    color: rgb(28, 106, 25);
}

.edcolor {
    
    color: rgb(122, 4, 25);
}

.pillcolor {
    
    color: rgb(37, 151, 161);
}

.mastcolor {
    
    color: rgb(88, 20, 139);
}

.c-green {
    background-color: rgb(21, 92, 26);
}